{% include 'header.html.twig' %}
{% include 'publicmenu.html.twig' %}


<div class="container-fluid" id ="szarvas">
<div class="row">
<div class="">
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-dark pt-1">Szarvasi vendégházak</h1>
        <p class="lead">Szarvas a régi Törénelmi Magyarország közepe. A Holt-Körös Partján fekvő várost méltán emlegetik a térség Gyöngyszemének.</p>
        <p>
          <a href="/akciosnapok" class="btn btn-secondary my-2" >Akciós napok</a>
          <a href="#latnivalok"class="btn btn-secondary my-2" >Látnivalók</a>
        </p>
      </div>
    </div>
</section>
<div class="album py-5 ">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col-md-3">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{'../../public/images/sliders/small/fuzeskerti.jpg'}}" role="img">
            <h4 class="card-title ms-3 mt-2">Füzeskerti Apartmanház</h4>
            <div class="card-body">
              <p class="card-text">Officia voluptate culpa Lorem eu qui anim ut. Magna in velit ea sunt non commodo eiusmod. Ex magna laborum quis in exercitation mollit cupidatat sint est culpa proident eu est. Excepteur adipisicing veniam commodo sunt culpa est irure anim sit minim nulla amet. Occaecat esse aute anim do quis anim dolore et cupidatat officia. Ullamco dolor qui exercitation officia sint anim duis sit proident sit ad nulla.</p>
              <div class="d-flex align-items-center">
                <div class="btn-group d-grid gap-2 col-md-2">
                 <a class="btn"  href="https://fuzeskertiapartmanhaz.hu/" target="_blank">Irány a weboldal</a>
                </div>
              </div>
               <div class="d-inline p-2" style="font-size: 2rem; color: gray;">
                 <i class="fa-solid fa-bicycle"></i>
                 <i class="fa-solid fa-table-tennis-paddle-ball"></i>
                 <i class="fa-solid fa-water-ladder"></i>
                 <i class="fa-solid fa-wifi"></i>
                 <i class="fa-solid fa-dog"></i>
              </div>
               </div>
          </div>
        </div>
           <div class="col-md-3">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{'../../public/images/sliders/small/fuzeskerti.jpg'}}" role="img">
            <h4 class="card-title ms-3 mt-2">Gödrök Gyöngye Nyaraló</h4>
            <div class="card-body">
              <p class="card-text">Officia voluptate culpa Lorem eu qui anim ut. Magna in velit ea sunt non commodo eiusmod. Ex magna laborum quis in exercitation mollit cupidatat sint est culpa proident eu est. Excepteur adipisicing veniam commodo sunt culpa est irure anim sit minim nulla amet. Occaecat esse aute anim do quis anim dolore et cupidatat officia. Ullamco dolor qui exercitation officia sint anim duis sit proident sit ad nulla.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group d-grid gap-2 col-4">
                 <a class="btn"  href="https://csaladinyar.hu/" target="_blank">Irány a weboldal</a></i>
                </div>
              </div><div class="d-inline p-2" style="font-size: 2rem; color: gray;">
                 <i class="fa-solid fa-bicycle"></i>
                 <i class="fa-solid fa-table-tennis-paddle-ball"></i>
                 <i class="fa-solid fa-water-ladder"></i>
                 <i class="fa-solid fa-wifi"></i>
                 <i class="fa-solid fa-dog"></i>
              </div>
            </div>
          </div>
        </div><div class="col-md-3">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{'../../public/images/sliders/small/fuzeskerti.jpg'}}" role="img">
            <h4 class="card-title ms-3 mt-2">Füzeskerti Apartmanház</h4>
            <div class="card-body">
              <p class="card-text">Officia voluptate culpa Lorem eu qui anim ut. Magna in velit ea sunt non commodo eiusmod. Ex magna laborum quis in exercitation mollit cupidatat sint est culpa proident eu est. Excepteur adipisicing veniam commodo sunt culpa est irure anim sit minim nulla amet. Occaecat esse aute anim do quis anim dolore et cupidatat officia. Ullamco dolor qui exercitation officia sint anim duis sit proident sit ad nulla.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group d-grid gap-2 col-4">
                 <a class="btn"  href="https://fuzeskertiapartmanhaz.hu/" target="_blank">Irány a weboldal</a></i>
                </div>
              </div><div class="d-inline p-2" style="font-size: 2rem; color: gray;">
                 <i class="fa-solid fa-bicycle"></i>
                 <i class="fa-solid fa-table-tennis-paddle-ball"></i>
                 <i class="fa-solid fa-water-ladder"></i>
                 <i class="fa-solid fa-wifi"></i>
                 <i class="fa-solid fa-dog"></i>
              </div>
            </div>
          </div>
        </div>
           <div class="col-md-3">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{'../../public/images/sliders/small/fuzeskerti.jpg'}}" role="img">
            <h4 class="card-title ms-3 mt-2">Vendi-Lak</h4>
            <div class="card-body">
              <p class="card-text">Officia voluptate culpa Lorem eu qui anim ut. Magna in velit ea sunt non commodo eiusmod. Ex magna laborum quis in exercitation mollit cupidatat sint est culpa proident eu est. Excepteur adipisicing veniam commodo sunt culpa est irure anim sit minim nulla amet. Occaecat esse aute anim do quis anim dolore et cupidatat officia. Ullamco dolor qui exercitation officia sint anim duis sit proident sit ad nulla.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group d-grid gap-2 col-4">
                 <a class="btn"  href="https://fuzeskertiapartmanhaz.hu/" target="_blank">Irány a weboldal</a>
                </div>
              </div><div class="d-inline p-2" style="font-size: 2rem; color: gray;">
                 <i class="fa-solid fa-bicycle"></i>
                 <i class="fa-solid fa-table-tennis-paddle-ball"></i>
                 <i class="fa-solid fa-water-ladder"></i>
                 <i class="fa-solid fa-wifi"></i>
              </div>
            </div>
          </div>
        </div>
        <!--Látnivalók-->
       <div class="flex-container col-md-12 p-3 text-center"  id="latnivalok">
      <div><h1 class="text-center">Látnivalók</h1></div>
       </div>
      <section>
        <div class="col">
            <div class="card shadow-sm">
             <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{'../../public/images/sliders/small/minimagyarorszag.jpg'}}" role="img" title="minimagyarorszag">
              <h4 class="card-title ms-3 mt-2">miniMagyarország</h4>
              <div class="card-body">
                <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center"><div class="btn-group">
                  <a class="btn" href="https://www.minimagyarorszag.hu" target="_blank">Érdekel</a>                
                </div>
                </div>
              </div>
            </div>
          </div></section>    
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{'../../public/images/sliders/small/arboretum.jpg'}}" role="img" title="minimagyarorszag">
            <h4 class="card-title ms-3 mt-2">Szarvasi Arborétum</h4>
            <div class="card-body">
              <p class="card-text">Az Arborétum és a “Pepi-kert” története az olasz eredetű Bolza család nevéhez fűződik. Az államosítást követően az Arborétumnak számos gazdája volt. Az intézmény ma öt fás gyűjteményt gondoz 82 ha területe</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn"href="https://www.minimagyarorszag.hu" target="_blank">Érdekel</a>                
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{'../../public/images/sliders/small/fuzeskerti.jpg'}}" role="img">
            <h4 class="card-title ms-3 mt-2">miniMagyarország</h4>
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                 <a class="btn"href="https://www.minimagyarorszag.hu" target="_blank">Érdekel</a>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{'../../public/images/sliders/small/fuzeskerti.jpg'}}" role="img">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                <a class="btn"href="https://www.minimagyarorszag.hu" target="_blank">Érdekel</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{'../../public/images/sliders/small/fuzeskerti.jpg'}}" role="img">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn"href="https://www.minimagyarorszag.hu" target="_blank">Érdekel</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
           <img class="bd-placeholder-img card-img-top" width="100%" height="225" src="{{'../../public/images/sliders/small/fuzeskerti.jpg'}}" role="img">
            <div class="card-body">
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn"href="https://www.minimagyarorszag.hu" target="_blank">Érdekel</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

{% include 'publicfooter.html.twig' %}
